/* #container { 
    position: absolute;
   top: 600px;

   left: 600px; 
   }    */
   #container{
    text-align: center; 
    flex-wrap: nowrap;
    top: 600px;

   }   

   h1 {
    text-align: center;
    border: 5px  solid rgb(85,168,241);
   }

   .inputter{
    text-align: center;
    top: 500px
   }
   .places {
    flex-wrap: nowrap;
   }

   .geoEnter{
    text-align: center;
   }

   #entButton{
    background-color: rgb(85,168,241);
    border-radius: 7px;
   }
   #geoEnter{
    background-color: rgb(85, 168, 241);
    border-radius: 7px;
   }